/** {
  border: 1px solid black;
}*/

body {
  margin: 0;
  padding-top: 5em;
}



/* --- NavBar --- */

.navBar {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  font-family: 'Droid Serif', serif;
}

.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navBar li {
    float: left;
}

.navBar li a {
    display: block;
    color: white;
    font-size: 1.3em;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

.navBar li a:hover{
    color: #f58787;
}

.navBar .navLeft {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navBar  .navRight {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* --- Background Image --- */

.backgroundImage {
  display: block;

  /* Set rules to fill background */
    min-width: 100%;
    min-height: 100%;

  /* Set up proportionate scaling */
    width: 100%;
    height: auto;

  /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

  /***** STACK ORDER - SET UP IMG BEHIND TEXT   ***/

    z-index: -1;

}

/* --- Portfolio --- */

.portfolio {
  margin: 0 auto 1em;
  width: 90%;
}

.portfolioHeader {
  margin-top: 1em;
  text-align: center;
  font-family: 'Droid Serif', serif;
}

.portfolioItemDetails {
  display: -webkit-flex; /* Safari */
  display: flex;
}

.portfolioItemTitle {
  font-family: 'Droid Serif', serif;
}

.portfolioItemDesc {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  padding: 2em;
}

.portfolioItemImage img{
    width: 20em;
    margin: auto;
  }


/* --- About Page --- */

.about-header {
  margin-top: -0.5em;
  padding: 2%;
  width: 98%;
  background-color: #EDEEEF;
}

.about-header h1 {
  font-family: 'Droid Serif', serif;
  font-size: 2em;
  padding: 0 2em 0.5em;
}

.about-header p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  text-align: justify;
  padding: 0 4em 0.5em;
}

.about-header hr {
  margin-top: -2em;
  width: 80%
}

.about-passions {
  padding: 5% 2% 5%;
}

.about-passions hr {
  margin-top: -1em;
  width: 80%
}


.about-passions h1 {
  font-family: 'Droid Serif', serif;
}

.about-passions p {
  font-family: 'Open Sans', sans-serif;
}

.passionItemDetails {
  display: -webkit-flex; /* Safari */
  display: flex;
  margin: auto;
  width: 70%;
}

.passionItemDetails h1 {
  font-size: 2em;
}

.passionItemDetails ul li {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

.passionItemImage img {
    width: 20em;
    padding: 1em;
    margin-left: 50%;
    right: 1em;
    border-radius: 20%;
    clear: both;
  }


.about-technologies {
  padding: 2em 0;
  height: 16em;
  width: 75%;
  margin: auto;
  text-align: center;
}

.about-technologies h1 {
  font-family: 'Droid Serif', serif;
  margin-bottom: 0.5em;
}

.about-technologies div {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  margin-bottom: 3em;
}

.about-contact-container {
  position: relative;
  margin-top: 2em;
  z-index: -100;
}


.about-contact-container img {
  width: 100%;
  z-index: -100;
}

.about-contact-container h1 {
  z-index: 100;
  color: white;
  position: absolute;
  width: 20%;
  top: 40%;
  left: 45%;
  margin: 0;
  font-family: 'Droid Serif', serif;
  font-size: 2em;

}

.about-contact-container a {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  color: white;
  position: absolute;
  width: 5%;
  text-align: center;
  top: 60%;
  left: 48%;
  border: 1px solid white;
  padding: 0.4em
}

.about-contact-container a {
  text-decoration: none;
  color: white
}

.about-crop {
    width: 33.33%;
    height: auto;
    overflow: hidden;
    padding: 0;
    margin: -0.4% auto;
}

.about-crop img {
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

.about-photos-flex {
  display: flex;
}

/* --- Contact ---- */

.contact {
  margin: 5em auto 2em;
  width: 80%;
}

.contact ul li {
  list-style-type: none;
}

.contact h1 {
  font-family: 'Droid Serif', serif;
}

.contact h2 {
  font-family: 'Droid Serif', serif;
}

.contact p {
  font-family: 'Open Sans', sans-serif;
}

.contact ul li {
  font-family: 'Open Sans', sans-serif;
  vertical-align: middle;
}
