
body {
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-size: 3rem;
}


/* ---------------------- Nav Bar ---------------------- */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


#mobile-navbar {
  background: #585454;
  margin: 0;
}

#mobile-navbar li {
  list-style-type: none;
  display: inline;
  float: left;
  text-align: center;
  font-size: 3rem;
  padding: 0;
  margin: 0;
}

#desktop-navbar {
  display: none;
}



/* ------------------- Drop Down Menu ------------------ */

.dropdown {
  text-decoration: none;
  position: relative;
  margin-bottom: 0;
}

.drop-nav {
  position: absolute;
  display: none;
  background: #585454;
  border-radius: 5%;
  padding: 1rem;
}

.dropdown a:link {
  color: white;
  text-decoration: none;
}

.dropdown a:visited {
  color: white;
  text-decoration: none;
}

.home-button a:link {
  color: white;
  text-decoration: none;
}

.home-button a:visited {
  color: white;
  text-decoration: none;
}



/*
.drop-nav li {
  border-radius: 25%;

} */


.dropdown:hover > .drop-nav {
    display: block;
  }

.dropnav {
  cursor: pointer;
}

/* --------------------- Main Content Area  ------------------------- */

.mobile-only {
  margin-top: 5%;
  text-align: center;
}

.desktop-only {
  display: none;
}

/* --------------------- Footer  ------------------------- */

footer {
  text-align: center;
}


/* --------------------- 12 Column Grid System  ------------------------- */

.row {
  width: 100%;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.67%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.67%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.67%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

@media (min-width: 401px) {


  .mobile-only {
    display: none;
  }

  #mobile-navbar {
    display: none;
  }

  #desktop-navbar {
    display: inline;
    list-style-type: none;
    text-align: center;
    font-size: 2rem;
    padding: 0;
    margin: 0;
  }

  #desktop-navbar li {
    padding-top: 1rem;
  }

  #desktop-navbar .row {
    background: rgb(89, 85, 85);
    opacity: 0.7;
  }

  #desktop-navbar a {
    color: white;
    text-decoration: none;
  }

  .bg {

display: block;

/* Set rules to fill background */
	min-width: 100%;
	min-height: 100%;

/* Set up proportionate scaling */
	width: 100%;
	height: auto;

/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;

/***** STACK ORDER - SET UP IMG BEHIND TEXT   ***/

	z-index: -1;
}

footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}


}
