/* TESTING

* {
  border-style: dashed;
  border-width: 1px;
  border-color: red;
}
*/

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

header {
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
  background-color: #16deb0;
  margin: 0 0 100px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

header h1 {
  display: inline;
}

nav ul {
  margin: 0;
  display: inline;
}


nav ul li {
  display: inline-block;
  list-style-type: none;
  color: white;
  padding: 0 15px;
}

nav ul li a {
  color: white;
}

.main-text {
  padding: 5% 20%;
}

h1 {
  text-align: center;
}

footer {
  text-align: center;
}

.main-img img
  {
    width: 300px;
    height: 300px;
  }

  .col-6 {
    width: 50%;
    padding: 1%;

  }

  .row
  {
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
  }

  #xero {
    width: 400px;
    padding-top: 25px;
    padding-left: 10px;
  }

  #robot {
    width: 400px;
    padding-top: 25px;
    padding-left: 10px;
  }

  #apple {
    width: 400px;
    padding-top: 25px;
    padding-left: 10px;
  }

  #boxmodel {
    padding-left: 10%;
  }


/*
CSS Design
- Nav Menu
  - Oswald Font
  - Block-inline style
  - No bullet points
  - Mild colour, semi-transparent background

Body Design
- No Margin
- Font style - Open Sans Light

*/
